* {
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    background-color: #e5e5e5;
    color: #303960;
}

h1, h2, h3{
    text-align: right;
    direction: rtl;
}

header
{
    width: 1000px;
    margin: 0 auto;    
    font-family: 'Arimo', sans-serif;  
    direction: rtl;  
}

header h2, header h3{
    margin: 0;
    margin-right: 40px;
}

header h2{
    margin-top: 30px;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse ;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    font-family: 'Arimo', sans-serif;
    height: 180px;
    width: calc(50% - 20px);
    background-color: #f7c785;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
}

.item img{
    width: 150px;
    border-radius: 5px;
    margin-right: 20px;
    background-color: #ffffff;
}

.item div{
    margin-right: 15px;
}

.item h2{
    margin: 0;
    font-size: 22px;
}

.item h3{
    margin: 0;
    line-height: 1.5;
    font-size: 17px;
}

.item div a{
    background-color: #303960;
    color: #e5e5e5;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 3px;
    margin-left: 15px;
    position: relative;
    top: 23px;
}

.item div a:hover{
    background-color: #566192;
}

.TCNP{
	margin:30px auto;
	display:block;
	max-width:30vw;
	width:100vw;
	border-radius:15px;
}


@media (max-width: 768px) {
    .wrapper, header {
        width: 100vw;
    }  

    .item{
        width: 96vw;
    }

    .item h2 {
        font-size: 16px;
    }

    .item h3 {
        line-height: 1.5;
        font-size: 12px;
    }

    .item img {
        width: 100px;
        margin-right: 10px;
    }

    .item div {
        margin-right: 10px;
        margin-left: 5px;
        width: 100%;
    }

    .item div a {
        padding: 5px 15px;
        border-radius: 3px;
        margin-left: 10px;
        position: relative;
        top: 23px;
        font-size: 13px;
    }

    .item {
        height: 150px;
        margin-top: 7px;
    }

    header h2 {
        font-size: 17px;
        margin-right: 10px;
    }

    header h3 {
        font-size: 14px;
        margin-right: 10px;
    }
    
    .TCNP{
	margin:30px auto;
	display:block;
	max-width:90vw;
	width:100vw;
	border-radius:15px;
	}
}